[uwsgi]
socket = /tmp/devsite.sock
home = /var/www/devsite-venv
chdir = /var/www/devsite
pythonpath = ..
app = {{ uwsgi.appname }}.wsgi
env = DJANGO_SETTINGS_MODULE={{ uwsgi.appname }}.settings
module = {{ uwsgi.appname }}.wsgi:application
processes = {{ uwsgi.processes }}
master = true